<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .top {
            border: 1px salmon solid;
            display: flex;
            flex-direction: row;
            height: 50px;
            /* flex-direction: column-reverse; */
             align-items: center
        }

        .top>div {
            width: 30px;
            height: 30px;
            margin: 0 10px;
            background-color: skyblue;
            /* flex-direction: row | row-reverse | column | column-reverse; */

        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="top">


        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
</body>

</html>