<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .top {
            border: 1px salmon solid;
            display: flex;
            flex-direction: row;
            height: 50px;
            /* flex-direction: column-reverse; */
            align-items: center
        }

        .top>div {
            width: 30px;
            height: 30px;
            margin: 0 10px;
            background-color: skyblue;
            /* flex-direction: row | row-reverse | column | column-reverse; */

        }
    </style>
    <title>Document</title>
</head>

<body>
    <div class="top">


        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
    </div>
    <script>





        function getMyTime(time) {
            let nowTime;
            if (time) {
                nowTime = new Date(time);
            }else{
                nowTime = new Date();
            }

            return {
                date_year_mounth: `${nowTime.getFullYear()}-${addZero(nowTime.getMonth() + 1)}-${addZero(nowTime.getDate())}`,
                date_hour_min_sec: `${addZero(nowTime.getHours())}:${addZero(nowTime.getMinutes())}:${addZero(nowTime.getSeconds())}`
            }


        }


        function addZero(num) {
            return num >= 10 ? num : `0${num}`
        }



        console.log(getMyTime(2020))

    const date = new Date();
    const year = date.getFullYear();
    const month = date.getMonth();
    let day = date.getDate();
    const final = [];
    for (let i = 0; i < 30; i++) {
        final.push(getMyTime(new Date(year, month, day)).date_year_mounth);
        day--;
    }
    console.log(final);



    </script>
</body>

</html>